<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" [class.active]="strRuta == '/home' || strRuta == '/' || strRuta == ''" href="/home">
      <img src="assets/img/logo.png" alt="Logo" class="me-2" style="width: 40px; height: 40px; border-radius: 50%;">
      <span class="d-none d-md-block">GIMNASIO</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- ADMIN -->
        <li class="nav-item" *ngIf="userRole === 'Administrador'">
          <a class="nav-link" [class.active]="strRuta == '/cliente/navegacion' || strRuta == '/cliente/navegacion' || strRuta == ''" href="/cliente/navegacion">
            <i class="bi bi-house-door me-1"></i>Inicio
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'Administrador'">
          <a class="nav-link" [class.active]="strRuta == '/admin/usuario/plist'" href="/admin/usuario/plist">
            <i class="bi bi-people me-1"></i>Usuarios
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'Administrador'">
          <a class="nav-link" [class.active]="strRuta == '/admin/tipousuario/plist'" href="/admin/tipousuario/plist">
            <i class="bi bi-person-gear me-1"></i>Tipos de Usuario
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'Administrador'">
          <a class="nav-link" [class.active]="strRuta == '/admin/planesentrenamiento/plist'" href="/admin/planesentrenamiento/plist">
            <i class="bi bi-clipboard-data me-1"></i>Planes de Entrenamiento
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'Administrador'">
          <a class="nav-link" [class.active]="strRuta == '/admin/grupocontrata/plist'" href="/admin/grupocontrata/plist">
            <i class="bi bi-file-earmark-text me-1"></i>Contratos
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'Administrador'">
          <a class="nav-link" [class.active]="strRuta == '/admin/mensaje/plist'" href="/admin/mensaje/plist">
            <i class="bi bi-chat-left-dots-fill"></i> Mensajes
          </a>
        </li>

        <!-- ENTRENADOR PERSONAL -->
        <li class="nav-item" *ngIf="userRole === 'Entrenador Personal'">
          <a class="nav-link" [class.active]="strRuta == '/cliente/navegacion' || strRuta == '/cliente/navegacion' || strRuta == ''" href="/cliente/navegacion">
            <i class="bi bi-house-door me-1"></i>Inicio
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'Entrenador Personal'">
          <a class="nav-link" [class.active]="strRuta == '/entrenador/planesentrenamiento/plist'" href="/entrenador/planesentrenamiento/plist">
            <i class="bi bi-person-lines-fill me-1"></i> Mis planes de entrenamiento
          </a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'Entrenador Personal'">
          <a class="nav-link" [class.active]="strRuta == '/entrenador/evaluaciones/plist'" href="/entrenador/evaluaciones/plist">
            <i class="bi bi-clipboard-check me-1"></i> Evaluaciones
          </a>
        </li>

        <li class="nav-item" *ngIf="userRole === 'Entrenador Personal'">
          <a class="nav-link" [class.active]="strRuta == 'entrenador/planesentrenamiento/create'" href="entrenador/planesentrenamiento/create">
            <i class="bi bi-plus-square"></i> Crear plan de entrenamiento
          </a>
        </li>

                <!-- Cliente -->
        <li class="nav-item" *ngIf="userRole === 'Cliente'">
          <a class="nav-link" [class.active]="strRuta == '/cliente/navegacion' || strRuta == '/cliente/navegacion' || strRuta == ''" href="/cliente/navegacion">
            <i class="bi bi-house-door me-1"></i>Inicio
          </a>
        </li>
      </ul>
      

      
      

      

      <div class="navbar-text">
        @if(!activeSession) {
          <a href="/login" class="btn btn-outline-light">
            <i class="bi bi-box-arrow-in-right me-1"></i>Iniciar Sesión
          </a>
        } @else {
          <span class="me-3">
            <a href="/byemail/{{userEmail}}" class="text-white">
               {{ userEmail }}
            </a>
          </span>
          <a href="/logout" class="btn btn-outline-light">
            <i class="bi bi-box-arrow-right me-1"></i>Logout
          </a>
        }
      </div>
    </div>
  </div>
</nav>
