<div class="plans-container">
  <h2 class="main-title">
    <i class="bi bi-plus-square"></i>
    Creación de planes
  </h2>

<form [formGroup]="oForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="titulo" class="form-label">Título</label>
    <input id="titulo" type="text" class="form-control" formControlName="titulo" required />
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea id="descripcion" class="form-control" rows="4" formControlName="descripcion" required></textarea>
  </div>

  <div class="mb-3">
    <label for="dificultad" class="form-label">Dificultad</label>
    <select id="dificultad" class="form-select" formControlName="dificultad" required>
      <option value="" disabled>Seleccione una dificultad</option>
      <option value="BASICO">Básico</option>
      <option value="INTERMEDIO">Intermedio</option>
      <option value="AVANZADO">Avanzado</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="oForm.invalid">Crear plan</button>
</form>
  <div class="d-flex justify-content-center mt-4">
    <a class="btn btn-warning mt-4 mx-1" href="admin/planesentrenamiento/plist">
      <i class="bi bi-list"></i>
      Ir a listado de Planes de entrenamiento
    </a>
</div>
